{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'students/navbar.html' %}

    {% include 'students/sidebar.html' %}




    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">My Videos</h5>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                            <li class="list-inline-item"><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
                            <li class="list-inline-item">My Videos</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            {% include 'students/front_suggestions.html' %}
            
        </div>
    </div>
</div>
{% endblock %}