

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Dept. of OPERATIONS</li>
                        <li class="active">
                            <a href="{% url 'student_dashboard' %}"><i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'my_courses' %}" style="width: 80%; display: inline-block;"><i class="fas fa-chalkboard-teacher"></i> My Classroom</a>
                        </li>
                        <li>
                            <a href="" style="width: 80%; display: inline-block;"><i class="fab fa-youtube"></i> My Videos</a>
                        </li>
                        <li>
                            <a href="" style="width: 80%; display: inline-block;"><i class="fas fa-folder-open"></i> My Documents</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> <span>My Query</span> <span
                                    class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="">Send Queries</a></li>
                                <li><a href="">Responses</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#"><i class="fas fa-exclamation-triangle"></i> <span>Raise Issue</span> <span
                                    class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="">Raise Query</a></li>
                                <li><a href="">Responses</a></li>
                            </ul>
                        </li>
                
                
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>