{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}

    {% include 'accounts/sidebar_trainer.html' %}






    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">Batch Content</h5> 
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                        <li class="list-inline-item"><a href="{% url 'home' %}">Dashboard</a></li>
                        <li class="list-inline-item"><a href="{% url 'active_batch_list' %}">Batch List</a></li>
                        <li class="list-inline-item">Add Assignment</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                <div class="card-box">
                    <h4 class="card-title">Add Assignment</h4>
                    <br>
                    <form method="post"action>
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Batch</label>
                            <div class="col-md-9">
                                {% load widget_tweaks %}  
                                {% render_field form.batch class="form-control" %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Topic</label>
                            <div class="col-md-9">
                                {% render_field form.topic class="form-control" %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Topic</label>
                            <div class="col-md-9">
                                {% render_field form.description class="form-control" %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Link to documents(optional)</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="link">
                            </div>
                        </div>
                        
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Add Assignment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}