{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}
    {% include 'accounts/sidebar_admin.html' %}

    






    <div class="page-wrapper">
        <div class="content container-fluid">
            {% include 'accounts/status_main_admin.html' %}
        

            <div class="row mt-4">
                {% include 'accounts/mini/lead_chart.html' %}
                {% include 'accounts/mini/staff_pending_task.html' %}
            </div>
            <div class="row mt-4">
                
            </div>
            <div class="content-page">
                
            </div>
            
            
            
        </div>
    </div>
</div>
{% endblock %}