{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}

    {% include 'accounts/sidebar_operations.html' %}






    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">Batch Register</h5>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                        <li class="list-inline-item"><a href="{% url 'operations_dashboard' %}">Dashboard</a></li>
                        <li class="list-inline-item">Batch</li>
                        <li class="list-inline-item">Batch Register</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-3"></div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="{% url 'batch_creation_form' %}" class="btn btn-primary float-right btn-rounded"><i class="fas fa-plus"></i> Add Batch</a>
                </div>
            </div>
            <!-- <div class="content-page">
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group custom-mt-form-group">
                        <input type="text" />
                        <label class="control-label">Exam Name</label><i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group custom-mt-form-group">
                        <input type="text" />
                        <label class="control-label">Class</label><i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group custom-mt-form-group">
                        <select>
                            <option>Maths</option>
                            <option>English</option>
                            <option>Science</option>
                            <option>Social Science</option>
                            <option>Finance</option>
                        </select>
                        <label class="control-label">Subject</label><i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="btn btn-success btn-block mt-4 mb-2"> Search </a>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="table-responsive">
                            <h4>Weekday(Mon - Thu)</h4>
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th style="min-width:70px;">Subject</th>
                                    <th style="min-width:50px;">Trainer</th>
                                    <th style="min-width:50px;">Timing</th>
                                    <th style="min-width:50px;">Start Date</th>
                                    <th style="min-width:50px;">End Date</th>
                                    <th style="min-width:50px;">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in b %}
                                <tr>
                                    <td><h2><a href="">{{i.subject}}</a></h2></td>
                                    <td>{{i.trainer}}</td>
                                    <td>{{i.timing}}</td>
                                    <td>{{i.start_date}}</td>
                                    <td>{{i.end_date}}</td>
                                    <td>{{i.status}}</td>
                                    <td class="text-right">
                                    <a href="{%url 'batch_edit' i.id %}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    <a href="{%url 'batch_delete' i.id %}" class="btn btn-danger btn-sm mb-1">
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Error!</strong>
                                        "No batch data found in database."
                                        <button type="button" class="close" data-dismiss="alert" area-label="Close">
                                            <span area-hidden="true">×</span>
                                        </button>
                                        </div>
                                {%  endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="table-responsive">
                            <h4>Weekend(Sat - Sun)</h4>
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th style="min-width:70px;">Subject</th>
                                    <th style="min-width:50px;">Trainer</th>
                                    <th style="min-width:50px;">Timing</th>
                                    <th style="min-width:50px;">Start Date</th>
                                    <th style="min-width:50px;">End Date</th>
                                    <th style="min-width:50px;">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in c %}
                                <tr>
                                    <td><h2><a href="">{{i.subject}}</a></h2></td>
                                    <td>{{i.trainer}}</td>
                                    <td>{{i.timing}}</td>
                                    <td>{{i.start_date}}</td>
                                    <td>{{i.end_date}}</td>
                                    <td>{{i.status}}</td>
                                    <td class="text-right">
                                    <a href="{%url 'batch_edit' i.id %}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    <a href="{%url 'batch_delete' i.id %}" class="btn btn-danger btn-sm mb-1">
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Error!</strong>
                                        "No batch data found in database."
                                        <button type="button" class="close" data-dismiss="alert" area-label="Close">
                                            <span area-hidden="true">×</span>
                                        </button>
                                        </div>
                                {%  endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
            
        </div>
    </div>
</div>
{% endblock %}