{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}

    {% include 'accounts/sidebar_sales.html' %}






    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">My New Lead</h5> 
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                        <li class="list-inline-item"><a href="{% url 'home' %}">Dashboard</a></li>
                        <li class="list-inline-item"><a href="">Lead</a></li>
                        <li class="list-inline-item">My New Lead</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="content-page">
                <div class="row">
                    <div class="col-sm-8 col-5">
                        <h4 class="page-title">My New Leads</h4>
                    </div>
                    <!-- <div class="col-sm-4 col-7 text-right m-b-30">
                        <a href="#" class="btn btn-primary btn-rounded float-right" data-toggle="modal"
                            data-target="#add_leavetype"><i class="fas fa-plus"></i> Add Leave Type</a>
                    </div> -->
                </div>
                <form method="get">
                    {% csrf_token %}
                <div class="content-page">
                    <div class="row filter-row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group custom-mt-form-group">
                            {{f.form.name}}
                            <label class="control-label">Name</label><i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group custom-mt-form-group">
                            {{f.form.mobile}}
                            <label class="control-label">Mobile</label><i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group custom-mt-form-group">
                            {{f.form.email}}
                            <label class="control-label">Email</label><i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-1">
                            <button type="submit" class="btn btn-success btn-block mt-4 mb-2"  style="height: 30px;width:50px;border-radius: 50px 50px 50px 50px"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-sm-6 col-md-1">
                            <a type="reset" href="{% url 'new_lead' %}" class="btn btn-info btn-block mt-4 mb-2"  style="height: 30px;width:50px;border-radius: 50px 50px 50px 50px"><i class="fas fa-sync" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in lead %}
                                    <tr>
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.mobile}}</td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.created_on}}</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'lead_update' i.id %}" >
                                                        <i class="fas fa-pencil-alt m-r-5"></i> Update</a>
                                                    <a class="dropdown-item" href="" >
                                                        <i class="fas fa-graduation-cap"></i> Create Student Profile</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    {% endblock %}