{% extends 'accounts/main.html' %}
{% block content %}
    <div class="main-wrapper">  
    {% include 'accounts/navbar.html' %}

            <div class="content container" style="padding-top:5%">
                <!--  Body Content -->

                        <div class="page-header">
                            <div class="row">
                                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                    <h5 class="text-uppercase">my Profile</h5>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <ul class="list-inline float-right">
                                        <li>
                                            <a href="{% url 'home' %}" class="btn btn-info " style="border-radius: 80px 80px 80px 80px ;color: white">
                                            <i class="fas fa-home"></i>&nbsp;&nbsp;<span style="font-size:18px">Home</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-box m-b-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="profile-view">
                                        <div class="profile-img-wrap">
                                            <div class="profile-img">
                                                <img class="avatar" src="{{request.user.staff.profile_pic.url}}" alt="">
                                            </div>
                                        </div>
                                        <div class="profile-basic">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="profile-info-left">
                                                        <h3 class="user-name m-t-0">{{s.name}}</h3>
                                                        <h5 class="company-role m-t-0 m-b-0">Dept of {{s.get_stype_display}}</h5>
                                                        <small class="text-muted">{{request.user}}</small>
                                                        <div class="staff-id">{{s.empid}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <ul class="personal-info">
                                                        <li>
                                                            <span class="title">Phone:</span>
                                                            <span class="text"><a href="">{{s.mobile}}</a></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Email:</span>
                                                            <span class="text"><a href=""><span class="__cf_email__"
                                                                        data-cfemail="7d17181b1b180f04100a12131a3d18051c100d1118531e1210">{{request.user}}</span></a></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Birthday:</span>
                                                            <span class="text">{{s.dob}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Blood Group:</span>
                                                            <p class="text">{{s.blood_group}}</p>
                                                        </li>
                                                        <li>
                                                            <span class="title">Gender:</span>
                                                            <span class="text">{{s.sex}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Date of joining:</span>
                                                            <span class="text">{{s.doj}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul class="personal-info">
                                                        <li>
                                                            <a href="{% url 'profile_update' %}" class="btn btn-info " style="border-radius: 80px 80px 80px 80px ;color: white">
                                                            <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;<span style="font-size:18px">Profile</span></a>
                                                            <a href="{% url 'profile_pic_update' %}" class="btn btn-info " style="border-radius: 80px 80px 80px 80px ;color: white">
                                                            <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;<span style="font-size:18px">Avatar</span></a>
                                                        </li> 
                                                    </ul>
                                                </div>
                                                <div class="col-md-7">
                                                    <ul class="personal-info">
                                                        <li>
                                                            <span class="title">House:</span>
                                                            <span class="text">{{s.house}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Assress Line 1:</span>
                                                            <span class="text">{{s.street}}</span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Address Line 2:</span>
                                                            <span class="text">{{s.street2}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">City:</span>
                                                            <p class="text">{{s.city}}</p>
                                                        </li>
                                                        <li>
                                                            <span class="title">State:</span>
                                                            <span class="text">{{s.state}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                <!--  Body Content -->
            </div>



{% endblock %}