

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">DEPT. OF SALES</li>
                <li >
                    <a href="{% url 'home' %}"><i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-users" aria-hidden="true"></i> <span>Leads</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="{% url 'create_lead'%}">Enter New Lead</a></li>
                        <li><a href="{% url 'new_lead'%}">My New Lead</a></li>
                        <li><a href="{% url 'lead_in_pipeline'%}"><span>My Lead In Pipeline</span></a></li>
                        <li><a href=""><span>My Closure</span></a></li>
                        <li><a href="">My Lead Register</a></li>
                    </ul>
                </li>
                <!-- <li class="submenu">
                    <a href="#"><i class="fas fa-user" aria-hidden="true"></i> <span> Students</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="">My Students</a></li>
                        <li><a href="">Student Register</a></li>
                    </ul>
                </li>
                </li>
                <li>
                    <a href="" style="width: 80%; display: inline-block;">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload Videos</a>
                </li> -->
                <!-- <li>
                    <a href="exam-list.html"><i class="fas fa-table" aria-hidden="true"></i> Apply for leave</a>
                </li> -->
                <li>
                    <a href="{% url 'task' %}"><i class="fas fa-tasks" aria-hidden="true"></i> Tasks</a>
                </li>
                <!-- <li>
                    <a href=""><i class="fas fa-question-circle" aria-hidden="true"></i>Student Queries</a>
                </li> -->
                <!-- <li>
                    <a href="calendar.html"><i class="fas fa-table" aria-hidden="true"></i> Notifications</a>
                </li> -->
                
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>