

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">TECHNICAL DEPARTMENT</li>
                <li >
                    <a href="{% url 'home' %}"><i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-users" aria-hidden="true"></i> <span>Batches</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="{% url 'active_batches' %}">Active Batches</a></li>
                        <li><a href="{% url 'active_batch_register' %}">All Active Batches</a></li>
                        <li><a href="{% url 'upcoming_batches' %}"><span>Upcoming Batches</span></a></li>
                        <li><a href="{% url 'upcoming_batch_register' %}">All Upcoming Batches</a></li>
                        <li><a href="{% url 'batch_register' %}">Batch Register</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user" aria-hidden="true"></i> <span> Students</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="{% url 'my_students' %}">My Students</a></li>
                        <li><a href="{% url 'student_register' %}">Student Register</a></li>
                    </ul>
                </li>
                </li>
                <li>
                    <a href="{% url 'active_batch_list'%}" style="width: 80%; display: inline-block;">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload Videos</a>
                </li>
                <!-- <li>
                    <a href="exam-list.html"><i class="fas fa-table" aria-hidden="true"></i> Apply for leave</a>
                </li> -->
                <li>
                    <a href="{% url 'task' %}"><i class="fas fa-tasks" aria-hidden="true"></i> Tasks</a>
                </li>
                <li>
                    <a href="{% url 'view_queries' %}"><i class="fas fa-question-circle" aria-hidden="true"></i>Student Queries</a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-table" aria-hidden="true"></i> <span> Assignments</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="{% url 'add_assignment' %}">Add Assignment</a></li>
                        <li><a href="{% url 'assignments_listed' %}">View Submissions</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'project_submissions' %}"><i class="fas fa-table" aria-hidden="true"></i>Project Submissions</a>
                </li>
                
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>