

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">TECHNICAL DEPARTMENT</li>
                <li >
                    <a href="{% url 'home' %}"><i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-users" aria-hidden="true"></i> <span>Batches</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="all-students.html">Active Batches</a></li>
                        <li><a href="all-students.html">All Active Batches</a></li>
                        <li><a href="add-student.html"><span>Upcoming Batches</span></a></li>
                        <li><a href="{% url 'upcoming_batch_register' %}">All Upcoming Batches</a></li>
                        <li><a href="edit-student.html">Batch Register</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user" aria-hidden="true"></i> <span> Students</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="all-parents.html">My Students</a></li>
                        <li><a href="all-parents.html">Student Register</a></li>
                    </ul>
                </li>
                </li>
                <li>
                    <a href="" style="width: 80%; display: inline-block;">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload Videos</a>
                </li>
                <!-- <li>
                    <a href="exam-list.html"><i class="fas fa-table" aria-hidden="true"></i> Apply for leave</a>
                </li> -->
                <li>
                    <a href="holidays.html"><i class="fas fa-tasks" aria-hidden="true"></i> Tasks</a>
                </li>
                <!-- <li>
                    <a href="calendar.html"><i class="fas fa-table" aria-hidden="true"></i> Events</a>
                </li>
                <li>
                    <a href="calendar.html"><i class="fas fa-table" aria-hidden="true"></i> Notifications</a>
                </li> -->
                
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>