
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-primary"><i class="fas fa-users"
                            aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{ba_count}}</h3>
                        <span>Active Batches</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-info"><i class="fas fa-user" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{by_count}}</h3>
                        <span>Upcoming Batches</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-warning"><i class="fas fa-user-plus"
                            aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{ta_count}}</h3>
                        <span>Pending Task</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-success"><i class="fas fa-question-circle"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{no_count}}</h3>
                        <span>Unreplied Queries</span>
                    </div>
                </div>
            </div>
        </div>
