{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}

    {% include 'accounts/navbar.html' %}
    {% if s.stype == "1" %}
    {% include 'accounts/sidebar_operations.html' %}
    {% elif s.stype == "2" %}
    {% include 'accounts/sidebar_sales.html' %}
    {% elif s.stype == "3" %}
    {% include 'accounts/sidebar_trainer.html' %}
    {% elif s.stype == "4" %}
    {% include 'accounts/sidebar_admin.html' %}
    {% endif %}






    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">Task Details</h5> 
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                        <li class="list-inline-item"><a href="{% url 'operations_dashboard' %}">Dashboard</a></li>
                        <li class="list-inline-item"><a href="{% url 'task' %}">Task List</a></li>
                        <li class="list-inline-item">Task Details</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                <div class="card-box">
                    <h4 class="card-title">Details</h4>
                    <br>
                    <form method="post" action>
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Title</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="{{task.title}}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" value="" disabled>{{task.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Assigned By</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="{{task.assigned_by}}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Created at</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="{{task.created_at}}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Status</label>
                            <div class="col-md-9">
                                <select class="form-control" name="status">
                                    <option value="None">No update</option>
                                    <option value="Yet to start">Yet to start</option>
                                    <option value="In progress">In progress</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt m-r-5"></i>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}