{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}

    {% include 'accounts/sidebar_operations.html' %}


        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <h5 class="text-uppercase">Task List</h5>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                            <ul class="list-inline breadcrumb float-right">
                                <li class="list-inline-item"><a href="{% url 'operations_dashboard' %}">Dashboard</a></li>
                                <li class="list-inline-item">Task List</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content-page">
                    <div class="row">
                        <div class="col-sm-8 col-5">
                            <h4 class="page-title">Task</h4>
                        </div>
                        <!-- <div class="col-sm-4 col-7 text-right m-b-30">
                            <a href="#" class="btn btn-primary btn-rounded float-right" data-toggle="modal"
                                data-target="#add_leavetype"><i class="fas fa-plus"></i> Add Leave Type</a>
                        </div> -->
                    </div>
                    <form method="get">
                        {% csrf_token %}
                    <div class="content-page">
                        <div class="row filter-row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group custom-mt-form-group">
                                {{f.form.title}}
                                <label class="control-label">Title</label><i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group custom-mt-form-group">
                                {{f.form.assigned_by}}
                                <label class="control-label">Assigned_by</label><i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group custom-mt-form-group">
                                {{f.form.status}}
                                <label class="control-label">Status</label><i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-1">
                                <button type="submit" class="btn btn-success btn-block mt-4 mb-2"  style="height: 30px;width:50px;border-radius: 50px 50px 50px 50px"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-sm-6 col-md-1">
                                <a type="reset" href="{% url 'task' %}" class="btn btn-info btn-block mt-4 mb-2"  style="height: 30px;width:50px;border-radius: 50px 50px 50px 50px"><i class="fas fa-sync" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Timestamp</th>
                                            <th>Assigned by</th>
                                            <th>Status</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in task %}
                                        <tr>
                                            <td>
                                                {{i.id}}
                                            </td>
                                            <td>{{i.title}}</td>
                                            <td>{{i.created_at}}</td>
                                            <td>{{i.assigned_by}}</td>
                                            <td>{{i.status}}</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                        aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{% url 'task_detail' i.id %}">
                                                            <i class="fa fa-eye m-r-5"></i> View</a>
                                                        <a class="dropdown-item" href="{% url 'task_update' i.id %}" >
                                                            <i class="fas fa-pencil-alt m-r-5"></i> Update</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            
        </div>
    </div>
</div>
{% endblock %}