{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}

    {% include 'accounts/sidebar_trainer.html' %}






    <div class="page-wrapper">
        <div class="content container-fluid">

            {% include 'accounts/status_main_trainer.html' %}

            <div class="row mt-4">
                
                <!--  -->
                <!--  -->

            </div>


            <!--  -->
            
        </div>
    </div>
</div>
{% endblock %}