{% extends 'accounts/main.html' %}



    {% block content %}

<div class="main-wrapper">
    
    {% include 'accounts/navbar.html' %}
    {% include 'accounts/sidebar_trainer.html' %}

    






    <div class="page-wrapper">
        <div class="content container-fluid">
            {% include 'accounts/status_main_trainers.html' %}
        

            <div class="row mt-4">
                {% include 'accounts/mini/upcoming_batch.html' %}
                {% include 'accounts/mini/batches.html' %}
            </div>
            <div class="row mt-4">
                {% include 'accounts/mini/task.html' %}
                {% include 'accounts/mini/queries.html' %}
            </div>


            {% include 'accounts/mini/student_register.html' %}
            
        </div>
    </div>
</div>
{% endblock %}