<div class="col-lg-6">
    <div class="content-page">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title mb-2">
                    Task List
                </div>
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th style="min-width:91px;">Sender</th>
                                <th style="min-width:50px;">Subject</th>
                                <th style="min-width:50px;">Message</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in q %}
                            <tr>
                                <td>{{i.sender}}</td>
                                <td>{{i.subject}}</td>
                                <td>{{i.message|truncatechars:40 }}</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="">
                                                <i class="fa fa-eye m-r-5"></i> Reply</a>
                                        </div>
                                    </div>
                                </td>
                                {% empty %}
                                <td colspan="3">No pending tasks</td>
                            </tr>
                            {% endfor %}
            
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>